body{
    text-align: center;
    background-color: yellow;
}

#result,#camera{
    border:2px dotted yellow;
    width: 350px;
    height:300px;
   }

#person,#accuracy{
    color:greenyellow;
}

